<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/60ca92335a.js" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

		* {
			font-family: Montserrat;
		}
	</style>
	<style>
		body {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
		}

		main {
			flex: 1 0 auto;
		}
	</style>
	<title>Document</title>
</head>

<body>
	<header>
		<div class="navbar-fixed">
			<nav class="">
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo hide-on-med-and-down black-text" style="margin-left:22px;">Task Planner</a>
					<a href="#!" class="brand-logo center hide-on-large-only black-text" >Task Planner</a>
					<a href="#!" class="brand-logo center hide-on-large-only black-text" >Task Planner</a>
					<a href="#" data-target="mobile-demo"
						class="sidenav-trigger right"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down" style="margin-right:22px; font-weight:bolder;">
						<li><a href="/add" class="black-text"><i class="fas fa-plus-circle"> Add an Item Todo</i> </a></li>
						<li><a href="#footer" class="black-text"><i class="fas fa-info-circle"> About me</i></a></li>
						<li><a href="#footer" class="black-text"><i class="fas fa-id-badge"> Follow me</i></a></li>
					</ul>
				</div>
			</nav>
		</div>
		<ul class="sidenav" id="mobile-demo" style="padding:15px;">
			<li> <a class="white-text" href="/add" style="font-size:18px; font-weight:bolder;">Add an Item Todo</a></li>
			<li><a class="white-text" href="/#footer" style="font-size:18px; font-weight:bolder;">About me</a></li>
			<li><a class="white-text" href="/#footer" style="font-size:18px; font-weight:bolder;">Follow me</a></li>
		</ul>
	</header>
	<main>
		<div class="container" style="margin-bottom: 20px;">
			<h3 class="">Things I need to do:</h3>

			<table class="">
				{% for item in items %}
				<tr>
					{% if item.done %}
					<td class="flow-text red lighten-4"><strike>{{ item.name }}:</strike></td>
					{% else %}
					<td class="flow-text red lighten-4">{{ item.name }}:</td>
                   
					{% endif %}
					<td class="red lighten-4">
                        {% if item.done %}
						<a href="/toggle/{{ item.id }}">
							<button class="waves-effect waves-light btn  red lighten-2"><i class="fas fa-toggle-on grey-text text-darken-4"></i> Toggle</button>
						</a>
                        {% else %}
                        <a href="/toggle/{{ item.id }}">
							<button class="waves-effect waves-light btn  red lighten-2"><i class="fas fa-toggle-off grey-text text-darken-4"></i> Toggle</button>
						</a>
                        {% endif %}
					</td>
					<td class="red lighten-4">
						<a href="/edit/{{ item.id }}">
							<button class="waves-effect waves-light btn  red lighten-2"><i class="fas fa-user-edit grey-text text-darken-4"></i> Edit</button>
						</a>
					</td>
					<td class="red lighten-4">
						<a href="/delete/{{ item.id }}">
							<button class="waves-effect waves-light btn  red lighten-2"><i class="fas fa-trash-alt grey-text text-darken-4"></i> Delete</button>
						</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td>You have nothing to do.</td>
				</tr>
				{% endfor%}
			</table>
        </div>
	</main>
	<footer class="page-footer" >
		<div class="container">
			<div class="row">
				<div class="col l6 s12" >
					<h5 class="black-text">About me</h5>
					<p class="black-text" >I am a fullstack web developer. I have made tis project in
						django and used materialise css for front end designing.
						This project is part of Django module study at code institute. Project is an example of how to
						implement CRUD functionality in a web application using Django.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="black-text">Follow me</h5>
					<ul>
						<li><a class="black-text" href="#!"><i class="fab fa-facebook-f"></i> facebook</a>
						</li>
						<li><a class="black-text" href="#!"><i class="fab fa-twitter"></i> twitter</a>
						</li>
						<li><a class="black-text" href="#!"><i class="fab fa-linkedin-in"></i> linked
								in</a></li>
						<li><a class="black-text" href="#!"><i class="fab fa-instagram"></i> Instagram</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright" id="footer">
			<div class="container black-text">
				© 2020 Copyright Text
				<a class=" right black-text" href="#!"><i class="fas fa-snowboarding"></i> Visit My Web
					Portfolio</a>
			</div>
		</div>
	</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    options = {};
    var instances = M.Sidenav.init(elems, options);
  });

	</script>
</body>

</html>